<html>
    <head>
        <title>My Favourite People</title>
          <link rel="stylesheet" href="Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='Content/app.css' />
    <link rel='stylesheet' href='Content/full-slider.css' />
        </head>
    <body>
   
      