<!- add header view -->
<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<div class="container">
	<div class="row">
		<table>
        <tr>
        <td>
        <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="/images/4.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">Sachin Tendulkar</a>
                    </div>
                    <div class="desc">Top-order batsman, India</div>
                    <div class="desc">Sachin Tendulkar was born April 24, 1973, in Bombay, India. Introduced to cricket at age 11, Tendulkar was just 16 when he became India's youngest Test cricketer</div>
                    <p></p>
                    <div class="desc">the most complete batsman and the most worshipped cricketer in the world, Tendulkar holds just about every batting record worth owning in the game, including those for most runs and hundreds in Tests and ODIs, and most international runs</div>
                   
                </div>
               
            </div>
            
           
            </div>
        </td>
        <td>
        <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="/images/5.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">Sania Mirza</a>
                    </div>
                    <div class="desc">Tennis Player, India</div>
                    <div class="desc">Mirza was born to Imran Mirza,a sports journalist and his wife Nasima in Mumbai, India. She was brought up in Hyderabad in a Muslim family.Mirza began playing tennis at the age of six, turning professional in 2003. She was trained by her father and other family members. She attended Nasr school in Hyderabad and later graduated from St. Mary's College</div>
                    <p>
                    </p>
                    <div class="desc">Mirza married Pakistani cricketer Shoaib Malik on April 12, 2010. Mirza received an honorary degree of Doctor of Letters from the MGR Educational and Research Institute University in Chennai on 2008-12-11</div>
                   
                </div>
               
            </div>
            
           
            </div>
        </td>
        <td>
        <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="/images/6.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">Amitabh Bachchan</a>
                    </div>
                    <div class="desc">Bollywood Actor, India</div>
                    <div class="desc">Amitabh Bachchan was born on October 11, 1942 in Allahabad, India. In 1969,he started his own production company. He returned to acting in 1997, with Mrityudaata.</div>
                   <p></p>
                   <div class="desc">Amitabh Harivansh Bachchan is an Indian film actor. He first gained popularity in the early 1970s for movies like Zanjeer and Deewar, and was dubbed India's first "angry young man" for his on-screen roles in Bollywood</div>
                </div>
               
            </div>
            
           
            </div>
        </td>
        </tr>
        </table>

            
            <!- add footer view -->
<%- include partials/footer.ejs %>